<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }







    </style>

</head>
<body>

<h4>Person List</h4>
<hr/>
<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Career</th>
        <th></th>
                 <input type="submit" value="Delete"/>       <th></th>
    </tr>
    <tr th:each="person : ${personList}">
        <td th:text="${person.id}"/>
        <td th:text="${person.firstName}"/>
        <td th:text="${person.lastName}"/>
        <td th:text="${person.career}"/>
        <td><a th:href="@{/persons/edit/{id}(id=${person.id})}">Edit</a></td>
        <td>
            <form action="#" th:action="@{/persons/delete/{id}(id=${person.id})}" method="POST">
                <a href="" onclick="this.closest('form').submit();return false;">
                    Delete
                </a>
            </form>
        </td>
    </tr>
</table>

<a th:href="@{/persons/create}">Create Person</a>

</body>
</html>